{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "max-len": ["error", { "code": 110 }],
    "no-param-reassign": ["error", { "props": false }]
  }
}