{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-typescript/base"
  ],
  "rules": {
    "max-len": ["error", { "code": 110 }],
    "no-param-reassign": ["error", { "props": false }]
  }
}