.light .morsels-root,
.rust .morsels-root,
.coal .morsels-root,
.navy .morsels-root,
.ayu .morsels-root {
    --morsels-border: 3px solid var(--table-header-bg);
    --morsels-bg: var(--bg);
    --morsels-item-box-shadow: 0 1px 5px rgba(196, 192, 187, 0.8);
    --morsels-item-sub-border: 0;
    --morsels-title-fg: var(--fg);
    --morsels-title-bg: var(--table-header-bg);
    --morsels-title-hover-fg: var(--fg);
    --morsels-title-hover-bg: var(--table-header-bg);
    --morsels-heading-fg: var(--fg);
    --morsels-heading-bg: var(--table-alternate-bg);
    --morsels-heading-hover-fg: var(--fg);
    --morsels-heading-hover-bg: var(--table-header-bg);
    --morsels-body-fg: var(--fg);
    --morsels-body-bg: var(--bg);
    --morsels-body-hover-fg: var(--fg);
    --morsels-body-hover-bg: var(--table-alternate-bg);
    --morsels-highlight: var(--search-mark-bg);
    --morsels-highlight-bg: none;
    --morsels-error-fg: var(--fg);
    --morsels-fine-print-fg: var(--fg);
    --morsels-loading-bg: var(--fg);
    --morsels-loading-secondary-bg: var(--fg);
    --morsels-scrollbar-bg: var(--sidebar-bg);
    --morsels-scrollbar-thumb-bg: var(--sidebar-non-existant);
    --morsels-fs-box-shadow: none;
    --morsels-fs-header-bg: var(--sidebar-bg);
    --morsels-fs-header-border-bottom: none;
    --morsels-fs-header-close-fg: var(--sidebar-fg);
    --morsels-fs-header-close-bg: var(--sidebar-bg);
    --morsels-fs-header-close-hover-bg: var(--table-header-bg);
    --morsels-fs-header-close-hover-fg: var(--fg);
    --morsels-fs-header-close-active-bg: var(--table-header-bg);
    --morsels-fs-header-close-active-fg: var(--fg);
}

.ayu .morsels-root,
.rust .morsels-root {
    --morsels-fs-header-close-hover-bg: var(--sidebar-bg);
    --morsels-fs-header-close-hover-fg: white;
    --morsels-fs-header-close-active-bg: var(--sidebar-bg);
    --morsels-fs-header-close-active-fg: white;
}

.coal .morsels-root,
.navy .morsels-root,
.ayu .morsels-root {
    --morsels-item-box-shadow: 0 1px 5px rgb(50, 50, 50);
}

#morsels-search {
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0.5em 0.75em;
    border: 1px solid var(--searchbar-border-color);
    background: var(--searchbar-bg);
    color: var(--searchbar-fg);
    outline: none;
}

@media print {
    #morsels-search {
        display: none;
    }
}

#morsels-mdbook-target {
    list-style: none;
    margin: 0;
    padding: 0;
}
