.light .morsels-root,
.rust .morsels-root,
.coal .morsels-root,
.navy .morsels-root,
.ayu .morsels-root {
    --morsels-box-shadow: none;
    --morsels-border: 3px solid var(--table-header-bg);
    --morsels-bg: var(--bg);
    --morsels-triangle-bg: var(--table-header-bg);
    --morsels-item-box-shadow: 0 1px 5px rgba(196, 192, 187, 0.8);
    --morsels-title-fg: var(--fg);
    --morsels-title-bg: var(--table-header-bg);
    --morsels-title-hover-fg: var(--fg);
    --morsels-title-hover-bg: var(--table-header-bg);
    --morsels-title-border-bottom: 2px solid var(--table-header-bg);
    --morsels-heading-fg: var(--fg);
    --morsels-heading-bg: var(--table-alternate-bg);
    --morsels-heading-hover-fg: var(--fg);
    --morsels-heading-hover-bg: var(--table-header-bg);
    --morsels-body-fg: var(--fg);
    --morsels-body-bg: var(--bg);
    --morsels-body-hover-fg: var(--fg);
    --morsels-body-hover-bg: var(--table-alternate-bg);
    --morsels-highlight: var(--search-mark-bg);
    --morsels-highlight-bg: none;
    --morsels-error-fg: var(--fg);
    --morsels-fine-print-fg: var(--fg);
    --morsels-loading-bg: var(--fg);
    --morsels-loading-secondary-bg: var(--fg);
    --morsels-scrollbar-bg: var(--sidebar-bg);
    --morsels-scrollbar-thumb-bg: var(--sidebar-non-existant);
    --morsels-fs-button-input-fg: var(--searchbar-shadow-color);
    --morsels-fs-border: 3px solid var(--sidebar-bg);
    --morsels-fs-box-shadow: none;
    --morsels-fs-header-bg: var(--sidebar-bg);
    --morsels-fs-header-border-bottom: none;
    --morsels-fs-header-close-fg: var(--sidebar-fg);
    --morsels-fs-header-close-bg: var(--sidebar-bg);
    --morsels-fs-header-close-hover-bg: var(--table-header-bg);
    --morsels-fs-header-close-hover-fg: var(--fg);
    --morsels-fs-header-close-active-bg: var(--table-header-bg);
    --morsels-fs-header-close-active-fg: var(--fg);
    --morsels-tip-bg: var(--sidebar-bg);
    --morsels-tip-fg: var(--sidebar-fg);
    --morsels-tip-code-fg: var(--inline-code-color);
    --morsels-tip-code-bg: transparent;
    --morsels-tip-icon-bg: rgb(230, 230, 230);
    --morsels-tip-icon-fg: rgb(80, 80, 80);
}

.ayu .morsels-root,
.rust .morsels-root {
    --morsels-fs-header-close-hover-bg: var(--sidebar-bg);
    --morsels-fs-header-close-hover-fg: white;
    --morsels-fs-header-close-active-bg: var(--sidebar-bg);
    --morsels-fs-header-close-active-fg: white;
    --morsels-tip-code-fg: var(--search-mark-bg) !important;
    --morsels-tip-icon-bg: rgb(200, 200, 200);
    --morsels-tip-icon-fg: rgb(50, 50, 50);
}

.light .morsels-root .morsels-list-item.focus,
.rust .morsels-root .morsels-list-item.focus,
.coal .morsels-root .morsels-list-item.focus,
.navy .morsels-root .morsels-list-item.focus,
.ayu .morsels-root .morsels-list-item.focus {
    outline: 2px solid grey;
}

.light .morsels-root {
    --morsels-heading-highlight: #82a6c4;
}

.rust .morsels-root {
    --morsels-heading-highlight: #ebb285;
}

.coal .morsels-root {
    --morsels-heading-highlight: #496c8a;
}

.morsels-theme .morsels-root .morsels-tip-item code,
.rust .morsels-root .morsels-tip-item code {
    color: var(--morsels-tip-code-fg) !important;;
}

.coal .morsels-root,
.navy .morsels-root,
.ayu .morsels-root {
    --morsels-item-box-shadow: 0 1px 5px rgb(50, 50, 50);
    --morsels-fs-input-fg: var(--fg);
    --morsels-fs-input-focus-border: 2px solid #4f95cc;
    --morsels-fs-input-focus-box-shadow: 0 0 5px -1px #63baff;
}

.rust .morsels-root {
    --morsels-fs-input-fg: var(--sidebar-fg);
    --morsels-fs-input-bg: #29201d;
    --morsels-fs-input-border: 2px solid #584d4a;
    --morsels-fs-input-focus-border: 2px solid #4f95cc;
    --morsels-fs-input-focus-box-shadow: 0 0 5px -1px #63baff;
}

.coal .morsels-root {
    --morsels-fs-input-bg: #1d1f21;
    --morsels-fs-input-border: 2px solid #3e4144;
}

.coal .morsels-root {
    --morsels-fs-input-bg: #1d1f21;
    --morsels-fs-input-border: 2px solid #3e4144;
}

.navy .morsels-root {
    --morsels-fs-input-bg: #1e222f;
    --morsels-fs-input-border: 2px solid #3d4252;
}

.ayu .morsels-root {
    --morsels-fs-input-fg: var(--fg);
    --morsels-fs-input-bg: #2b3035;
    --morsels-fs-input-border: 2px solid #43474c;
    --morsels-fs-input-focus-border: 2px solid #4f95cc;
    --morsels-fs-input-focus-box-shadow: 0 0 5px -1px #63baff;
}

#morsels-search {
    width: 100%;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0.5em 0.75em;
    outline: 2px solid var(--searchbar-border-color);
    border: none;
    background: var(--searchbar-bg);
    color: var(--searchbar-fg);
}

#morsels-search.morsels-button-input {
    width: 100px;
}

#morsels-search.morsels-button-input::placeholder {
    position: relative;
    left: 14px;
}

#morsels-search.morsels-button-input:hover {
    transition: 0.3s ease-out;
    background: var(--morsels-fs-button-input-bg) !important;
    outline: 2px solid var(--morsels-fs-button-input-bg);
}

#morsels-search.morsels-button-input:hover::placeholder {
    color: var(--morsels-fs-button-input-fg) !important;
}

@media print {
    #morsels-search {
        display: none;
    }
}

#morsels-mdbook-target {
    list-style: none;
    margin: 0;
    padding: 0;
}

.morsels-root:not(.morsels-fs-root) {
    display: block;
}
