:root {
    --infi-dropdown-max-width: 525px;
    --infi-dropdown-max-height: 32em;
    --infi-dropdown-z-index: 9999;
    --infi-font-size: 14px;
    --infi-border: none;
    --infi-fs-item-spacing: 18px;
    --infi-fs-desktop-width: 650px;
    --infi-fs-desktop-height: 70vh;
    --infi-tip-icon-size: 21px;
    --infi-triangle-bg: var(--infi-bg);
    --infi-fs-header-close-bg: var(--infi-fs-header-bg);
}

.infi-root {
    font-size: var(--infi-font-size);
}

.infi-root * {
    box-sizing: border-box;
}

/*
 -----------------------------------------------------
 Fullscreen version
 */

.infi-button-input:hover {
    cursor: pointer;
}

.infi-button-input:focus:not(:hover) {
    transition: 0.3s ease-out;
    background: var(--infi-fs-button-input-bg) !important;
    box-shadow: var(--infi-fs-button-input-shadow) !important;
}

.infi-button-input:focus:not(:hover)::placeholder {
    color: var(--infi-fs-button-input-fg) !important;
}

.infi-fs-backdrop {
    --infi-fs-backdrop-bg: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--infi-fs-backdrop-bg);
    z-index: 1000;
}

.infi-fs-root {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--infi-bg);
    overflow: hidden;
    z-index: 1000;
}

.infi-fs-controls {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 9px 10px 9px 12px;
    font-size: 1.1em;
    background: var(--infi-fs-header-bg);
    box-shadow: var(--infi-fs-header-box-shadow);
    z-index: 1000;
}

.infi-fs-input-wrapper {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

.infi-fs-input {
    width: 100%;
    padding: 0.35em 30px 0.35em 13px;
    outline: none;
    color: var(--infi-fs-input-fg);
    background: var(--infi-fs-input-bg);
    border: var(--infi-fs-input-border);
    border-radius: 8px;
    font-size: inherit;
}

.infi-fs-input::placeholder {
    font-size: 0.96em;
}

.infi-fs-input:focus {
    border: var(--infi-fs-input-focus-border);
    box-shadow: var(--infi-fs-input-focus-box-shadow);
}

.infi-fs-input::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
}

.infi-fs-input-clear {
    width: 0;
    height: 0;
}

.infi-fs-input:not(:placeholder-shown) + .infi-fs-input-clear::after {
    content: '';
    position: relative;
    right: 30px;
    bottom: 9px;
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: filter 0.15s ease-in-out;
}

.infi-input-close-fs {
    position: relative;
    border: none;
    padding: 0 11px;
    margin-left: 5px;
    font-size: inherit;
    font-weight: 600;
    cursor: pointer;
    color: var(--infi-fs-header-close-fg);
    background: none;
    transition: color 0.15s linear;
    user-select: none;
}

@media (hover: hover) {
    .infi-input-close-fs:hover,
    .infi-input-close-fs:focus {
        color: var(--infi-fs-header-close-hover-fg);
        background: none;
    }
}

.infi-input-close-fs:active {
    color: var(--infi-fs-header-close-hover-fg);
    background: none;
}

/*
 -----------------------------------------------------
 Tip icon
 */

.infi-tip-root {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: var(--infi-tip-icon-size);
    height: var(--infi-tip-icon-size);
    z-index: 1;
}

.infi-tip-icon {
    cursor: default;
    display: inline-block;
    line-height: var(--infi-tip-icon-size);
    width: 100%;
    height: 100%;
    border-width: 0;
    border-radius: 50%;
    color: var(--infi-tip-icon-fg);
    background: var(--infi-tip-icon-bg);
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.2s linear, font-weight 0.2s linear;
}

.infi-tip-icon:hover {
    opacity: 1;
    font-weight: 600;
}

.infi-tip-popup-root {
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    padding: 10px 0;
}

.infi-tip-popup-root.shown {
    opacity: 1;
    display: block;
}

.infi-tip-popup {
    padding: 14px;
    font-size: 14px;
    box-shadow: var(--infi-shadow);
    width: 300px;
    background: var(--infi-tip-bg);
}

.infi-tip-popup-title {
    color: var(--infi-tip-fg);
    font-weight: bold;
}

table.infi-tip-table {
    font-size: 14px;
    margin: 7px 0 0 20px;
    width: auto;
}

/* Reset styles */
table.infi-tip-table,
table.infi-tip-table thead.infi-tip-table-header,
table.infi-tip-table thead.infi-tip-table-header tr,
table.infi-tip-table tbody,
table.infi-tip-table tbody tr.infi-tip-item {
    background: none;
    border: none;
}

table.infi-tip-table th,
table.infi-tip-table td {
    background: none;
    border: none;
    text-align: left;
    vertical-align: text-top;
    box-shadow: none;
    color: var(--infi-tip-fg);
}

table.infi-tip-table th {
    border-bottom: 3px solid;
    border-bottom-color: var(--infi-tip-table-header-border, var(--infi-tip-table-border)) !important;
    font-weight: bold;
}

table.infi-tip-table td {
    border-bottom: 1px solid;
    border-bottom-color: var(--infi-tip-table-border) !important;
}

table.infi-tip-table > tbody > tr:nth-child(2n) > td {
    background: var(--infi-tip-table-alternate);
}

table.infi-tip-table > tbody > tr:last-child > td {
    border: none;
}

table.infi-tip-table td:first-child,
table.infi-tip-table th:first-child {
    width: 45%;
    padding: 3px 5px 5px 4px;
}

table.infi-tip-table td:last-child,
table.infi-tip-table th:last-child {
    width: 55%;
    padding: 3px 0 5px 7px;
}

table.infi-tip-table th:first-child,
table.infi-tip-table th:last-child {
    padding-bottom: 1px;
}

table.infi-tip-table .infi-tip-item > td > div {
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

table.infi-tip-table .infi-tip-item > td {
    font-size: 0.9em;
}

table.infi-tip-table .infi-tip-item code {
    font-size: 0.9em;
    color: var(--infi-tip-code-fg);
    background: var(--infi-tip-code-bg);
    word-wrap: break-word;
}

table.infi-tip-table .infi-tip-item ul {
    padding: 0;
    margin: 0;
}

table.infi-tip-table .infi-tip-item li {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 769px) {
    .infi-fs-root {
        border-radius: 6px;
        border: var(--infi-fs-border);
        box-shadow: var(--infi-fs-box-shadow);
        top: 15%;
        left: calc(50% - (var(--infi-fs-desktop-width) / 2));
        width: var(--infi-fs-desktop-width);
        height: var(--infi-fs-desktop-height);
    }
}

/*
 -----------------------------------------------------
 Dropdown version
 */

.infi-dropdown-root {
    display: inline-block;
    position: relative;
}

.infi-input-dropdown-separator {
    position: relative;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--infi-triangle-bg);
}

/*
 -----------------------------------------------------
 All 3 versions. TODO see if this can be on the top.
 */

.infi-inner-root {
    position: absolute;
    top: 0;
    left: 100vw;
    z-index: var(--infi-dropdown-z-index);
}

.infi-list {
    padding: 0;
    border: var(--infi-border);
    border-radius: 5px;
    box-shadow: var(--infi-shadow);
    margin: 0;
    width: 100vw;
    max-width: var(--infi-dropdown-max-width);
    overflow-y: auto;
    overflow-y: overlay;
    list-style: none;
    background-color: var(--infi-bg);
    font-size: inherit;
    z-index: 1000;
    scrollbar-color: var(--infi-scrollbar-thumb-bg) var(--infi-scrollbar-bg);
    scrollbar-width: thin;
}

.infi-fs-root .infi-list {
    width: auto;
    max-height: calc(100% - 20px - 2.7em);
    max-width: none;
    border: none;
    box-shadow: none;
    padding: 0 9px;
    background-color: transparent;
    position: static;
}

.infi-list::-webkit-scrollbar-track,
.infi-multi-listbox::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--infi-scrollbar-bg);
}

.infi-list::-webkit-scrollbar,
.infi-multi-listbox::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.infi-fs-root .infi-list::-webkit-scrollbar {
    width: 7px;
}

.infi-list::-webkit-scrollbar-thumb,
.infi-multi-listbox::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--infi-scrollbar-thumb-bg);
}

/*
 -----------------------------------------------------
 Header
 */

.infi-header {
    display: flex;
    justify-content: space-between;
    color: var(--infi-header-fg);
    padding: 9px 13px 8px 13px;
    font-weight: bold;
    font-size: 1.06em;
}

.infi-fs-root .infi-header {
    padding: 9px 7px 14px 3px;
}

.infi-results-found {
    padding-right: 5px;
}

.infi-instructions {
    display: flex;
    align-items: center;
}

.infi-instructions:first-child {
    display: none;
}

.infi-key-arrow,
.infi-key-return {
    fill: var(--infi-key-fg);
    stroke: var(--infi-key-fg);
    background: var(--infi-key-bg);
    height: 18px;
    border-radius: 4px;
    padding: 3px;
    margin: 0 0 0 2px;
}

.infi-key-arrow {
    width: 16px;
}

.infi-key-arrow-down {
    transform: rotateX(180deg);
}

.infi-key-return {
    width: 20px;
}

button.infi-filters {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0;
    font: inherit;
    font-weight: bold;
    color: inherit;
    background: inherit;
    box-shadow: none;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;
    text-transform: none;
    text-shadow: none;
    cursor: pointer;
    user-select: none;
}

button.infi-filters::after {
    content: '';
    display: inline-block;
    margin-left: 0.2em;
    width: 0.8em;
    height: 0.4em;
    box-shadow: inset 1em 1em currentColor;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 75% 0, 50% 50%, 25% 0, 0 0);
    transform: translateY(1px);
}

button.infi-filters.active::after {
    transform: translateY(0) rotateZ(180deg);
}

.infi-results-found + .infi-filters {
    margin-left: auto;
    border-right: 2px solid var(--infi-key-bg);
}

/*
 -----------------------------------------------------
 Filters
 */

.infi-filters.shown {
    padding: 0 13px 12px 13px;
}

.infi-fs-root .infi-filters.shown {
    padding: 0 7px 14px 3px;
}

.infi-filter-header,
.infi-multi-header {
    display: flex;
    align-items: center;
    padding: 1px 5px 1px 0;
    font-weight: 600;
    font-size: 1.01em;
    user-select: none;
    margin: 0;
    color: var(--infi-header-fg);
}

hr.infi-sep {
    height: 1pt;
    margin: 7px 0 5px;
    background: var(--infi-key-bg);
    border: none;
    opacity: 0.4;
}

.infi-sep:last-child {
    margin: 7px 0 6px 0;
}

.infi-sort,
.infi-minmax {
    padding: 1px 0;
    margin: 1px 0 4px;
    color: var(--infi-header-fg);
    background: var(--infi-checkbox-bg);
    border: 1px solid var(--infi-checkbox-border);
    border-radius: 3px;
    box-shadow: var(--infi-filter-box-shadow);
}

.infi-sort:focus,
.infi-minmax:focus {
    background: var(--infi-checkbox-checked-bg);
}

.infi-sort {
    padding: 2px 0;
}

.infi-minmax-label {
    display: block;
    font-size: 0.88em;
    opacity: 0.9;
    margin-top: -2px;
    color: var(--infi-header-fg);
}

.infi-minmax {
    padding: 1px 3px;
    width: 70px;
    appearance: textfield;
}

.infi-minmax:focus {
    outline: none;
}

.infi-minmax::-webkit-inner-spin-button,
.infi-minmax::-webkit-outer-spin-button {
    appearance: none;
}

.infi-minmax[type^="date"] {
    width: 100px;
    margin-top: 0;
}

.infi-multi-header {
    cursor: pointer;
}

.infi-multi-header:focus-visible {
    outline: 2px solid var(--infi-header-fg);
    color: var(--infi-header-fg);
}

.infi-multi-header::before {
    content: '';
    display: inline-block;
    margin-right: 0.2em;
    width: 0.8em;
    height: 0.4em;
    box-shadow: inset 1em 1em currentColor;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 75% 0, 50% 50%, 25% 0, 0 0);
    transform: rotateZ(-90deg);
}

.infi-multi-header.active::before {
    transform: rotateZ(180deg);
}

.infi-multi-listbox {
    overflow-y: auto;
    overflow-y: overlay;
    max-height: 250px;
}

.infi-multi {
    width: fit-content;
    padding: 3px 3px 3px 0.5em;
    user-select: none;
}

.infi-multi:last-child {
    margin: 0 0 2px 0;
}

label.infi-checkbox-label {
    font-size: 1em;
    line-height: 1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    align-items:baseline;
    color: var(--infi-header-fg);
    cursor: pointer;
}

/*
 Checkbox styles from https://moderncss.dev/pure-css-custom-checkbox-style/,
 with some small tweaks
*/
input[type="checkbox"].infi-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background: var(--infi-checkbox-bg);
    margin: 0;

    font: inherit;
    width: 1.06em;
    height: 1.06em;
    border: 0.14em solid var( --infi-checkbox-border);
    border-radius: 0.14em;
    transform: translateY(-0.07em);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input[type="checkbox"].infi-checkbox:checked {
    background: var(--infi-checkbox-checked-bg);
}

input[type="checkbox"].infi-checkbox:focus,
input[type="checkbox"].infi-checkbox.focus {
    outline: max(2px, 0.15em) solid var(--infi-highlight);
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"].infi-checkbox:focus {
    outline-color: var(--infi-header-fg);
}

input[type="checkbox"].infi-checkbox::before {
    content: "";
    width: 0.53em;
    height: 0.53em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--infi-highlight);

    transform-origin: center;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"].infi-checkbox:checked::before {
    transform: scale(1);
}


/*
 -----------------------------------------------------
 Result footer
 */

.infi-footer {
    display: flex;
    justify-content: center;
}

.infi-footer:last-child {
    margin-bottom: 15px;
}

.infi-footer:focus-visible {
    outline: none;
}

.infi-load-more,
.infi-footer-so-far {
    font-weight: bold;
    color: var(--infi-load-more-fg);
}

.infi-load-more {
    padding: 5px 15px;
    margin: 5px 0;
    text-decoration: none;
    user-select: none;
    border-radius: 20px;
    background: var(--infi-load-more-bg);
    border: none;
    cursor: pointer;
}

.infi-load-more:active {
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.infi-load-more:active,
.infi-load-more-opt.focus > .infi-load-more {
    color: var(--infi-load-more-hover-fg);
    background: var(--infi-load-more-hover-bg);
}

@media (hover: hover) {
    .infi-load-more:hover,
    .infi-load-more:focus {
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
        color: var(--infi-load-more-hover-fg);
        background: var(--infi-load-more-hover-bg);
    }
}

/*
 -----------------------------------------------------
 States (error, blank, loading)
 */

.infi-error,
.infi-blank {
    justify-content: center;
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    margin: 1.2em 0;
}

.infi-error {
    color: var(--infi-error-fg);
}

.infi-blank {
    color: var(--infi-fine-print-fg);
}

/* https://loading.io/css/ */
.infi-loading-indicator {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1.2em 0;
}

.infi-loading-indicator:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--infi-loading-bg) transparent var(--infi-loading-bg) transparent;
    animation: infi-loading-indicator 1.2s linear infinite;
}

@keyframes infi-loading-indicator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.infi-loading-indicator-subsequent {
    position: sticky;
    top: 10px;
    padding-left: calc(100% - 40px);
    margin: 0;
    height: 0;
    overflow: visible;
}

.infi-loading-indicator-subsequent::after {
    width: 25px;
    height: 25px;
    border-width: 4px;
    border-color: var(--infi-loading-secondary-bg) transparent var(--infi-loading-secondary-bg) transparent;
    animation: infi-loading-indicator 1.2s linear infinite, infi-loading-indicator-subsequent 1s linear 1;
}

@keyframes infi-loading-indicator-subsequent {
    0% {
        opacity: 0.0;
    }
    15% {
        opacity: 0.0;
    }
    100% {
        opacity: 0.8;
    }
}

/*
 -----------------------------------------------------
 Results
 */

.infi-list-item {
    font-size: inherit;
    border-radius: var(--infi-item-border-radius);
    box-shadow: var(--infi-item-box-shadow);
    margin: 18px 13px;
    overflow: hidden;
}

.infi-fs-root .infi-list-item {
    margin: var(--infi-fs-item-spacing) 8px;
}

.infi-list-item:first-child {
    margin-top: 0;
}

.infi-title-link,
.infi-heading-link {
    display: block;
    font-size: inherit;
    text-decoration: none !important;
    outline-offset: -1px;
    outline-color: var(--infi-title-fg);
    -webkit-tap-highlight-color: transparent;
}

.infi-title {
    border-bottom: var(--infi-title-border-bottom);
    color: var(--infi-title-fg);
    line-height: 1.2;
    word-break: break-word;
    padding: 9px 11px 5px;
    background: var(--infi-title-bg);
    font-size: 1.04em;
    font-weight: 600;
}

.infi-title:active,
.infi-title-link.focus .infi-title {
    color: var(--infi-title-hover-fg);
    background: var(--infi-title-hover-bg);
    border-bottom: var(--infi-title-border-bottom-hover);
}

.infi-heading-link {
    padding: 3px 0 2px 0;
    background: var(--infi-sub-bg);
}

.infi-title-link + .infi-heading-link {
    padding-top: 4px;
}

.infi-heading-link:last-child {
    padding-bottom: 7px;
}

.infi-heading {
    font-size: 0.94em;
    word-break: break-word;
    padding: 0 5px 0 11px;
    line-height: 1.2;
    color: var(--infi-heading-fg);
    font-weight: 600;
}

.infi-heading-link:active .infi-heading,
.infi-heading-link.focus .infi-heading {
    color: var(--infi-heading-hover-fg);
}

.infi-body {
    font-size: 0.93em;
    line-height: 1.15;
    word-break: break-word;
    padding: 4px 5px 5px 11px;
    color: var(--infi-body-fg);
}

.infi-heading-link .infi-body {
    padding: 1px 5px 0 16px;
}

.infi-title-link > .infi-body:active,
.infi-title-link.focus > .infi-body,
.infi-heading-link:active .infi-body,
.infi-heading-link.focus .infi-body {
    color: var(--infi-body-hover-fg);
}

.infi-title-link > .infi-body:active,
.infi-title-link.focus > .infi-body,
.infi-heading-link:active,
.infi-heading-link.focus {
    background: var(--infi-sub-hover-bg);
}

@media (hover: hover) {
    .infi-list-item:hover .infi-title {
        color: var(--infi-title-hover-fg);
        background: var(--infi-title-hover-bg);
        border-bottom: var(--infi-title-border-bottom-hover);
    }

    .infi-heading-link:not(:last-child):hover {
        border-bottom: var(--infi-item-sub-border-hover);
    }

    .infi-title-link > .infi-body:hover,
    .infi-heading-link:hover {
        background: var(--infi-sub-hover-bg);
    }

    .infi-heading-link:hover .infi-heading {
        color: var(--infi-heading-hover-fg);
    }

    .infi-body:hover,
    .infi-heading-link:hover .infi-body {
        color: var(--infi-body-hover-fg);
    }

    /* Prevent transitions from kicking in for keyboard navigation */
    .infi-list-item:hover .infi-title,
    .infi-list-item:hover .infi-heading-link,
    .infi-list-item:hover .infi-body,
    .infi-list-item:hover .infi-heading {
        transition: background 0.1s ease-in, color 0.1s ease-in, border 0.1s ease-in;
    }
}

/* Prevent transitions from kicking for keyboard navigation */
.infi-body:active,
.infi-list-item:active .infi-title,
.infi-list-item:active .infi-heading-link,
.infi-list-item:active .infi-body,
.infi-list-item:active .infi-heading {
    transition: background 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in !important;
}

.infi-highlight {
    color: var(--infi-highlight);
    background-color: var(--infi-highlight-bg);
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.infi-heading .infi-highlight {
    color: var(--infi-heading-highlight, var(--infi-highlight));
}

.infi-ellipsis {
    letter-spacing: 0.3mm;
    opacity: 0.85;
}

.infi-initialising-text {
    font-size: 0.93em;
    color: var(--infi-header-fg);
    margin-top: -5px;
    padding-bottom: 15px;
    text-align: center;
}

/*
 -----------------------------------------------------
 Mobile overrides
 */

@media screen and (max-width: 768px) {
    :root {
        --infi-dropdown-max-width: 100vw;
        --infi-dropdown-max-height: 75vh;
        --infi-tip-icon-size: 26px;
    }

    .infi-fs-root .infi-tip-root {
        bottom: 19px;
        right: 19px;
    }

    .infi-title,
    .infi-heading,
    .infi-body {
        padding-left: 9px;
    }

    .infi-filter-header,
    .infi-multi-header {
        padding: 2px 1px;
    }

    .infi-sort {
        padding: 4px 1px;
    }

    .infi-minmax {
        padding: 3px;
    }

    .infi-minmax[type^="date"] {
        width: 80px;
    }

    .infi-multi {
        width: auto;
        padding: 7px 5px 7px 0.5em;
    }

    .infi-multi-header:active,
    .infi-multi:active {
        background-color: var(--infi-filter-header-active);
        -webkit-tap-highlight-color: transparent;
    }

    .infi-filter:not(:first-child) .infi-multi-header {
        margin-top: 4px;
    }

    .infi-instructions {
        display: none;
    }

    .infi-results-found + .infi-filters {
        border-right: none;
    }

    .infi-load-more {
        font-size: 1.01em;
        padding: 7px 15px;
    }

    .infi-footer:last-child {
        margin-bottom: 20px;
    }
}

.infi-sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
