:root {
    --morsels-dropdown-max-width: 525px;
    --morsels-dropdown-max-height: 32em;
    --morsels-font-size: 14px;
    --morsels-border: none;
    --morsels-item-spacing: 18px;
    --morsels-fs-item-spacing: 18px;
    --morsels-fs-desktop-width: 650px;
    --morsels-fs-desktop-height: 70vh;
    --morsels-tip-icon-size: 21px;
}

@media screen and (max-width: 1025px) {
    :root {
        --morsels-dropdown-max-width: 100vw;
        --morsels-dropdown-max-height: 75vh;
        --morsels-tip-icon-size: 26px;
    }
}

.morsels-root {
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--morsels-font-size);
}

.morsels-root * {
    box-sizing: border-box;
}

/*
 Fullscreen version
 */

.morsels-button-input:hover {
    cursor: pointer;
}

.morsels-button-input:focus:not(:hover) {
    transition: 0.3s ease-out;
    background: var(--morsels-fs-button-input-bg) !important;
    box-shadow: var(--morsels-fs-button-input-shadow) !important;
}

.morsels-button-input:focus:not(:hover)::placeholder {
    color: var(--morsels-fs-button-input-fg) !important;
}

.morsels-fs-backdrop {
    --morsels-fs-backdrop-bg: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--morsels-fs-backdrop-bg);
    z-index: 1000;
}

.morsels-fs-root {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--morsels-bg);
    overflow: hidden;
    z-index: 1000;
}

.morsels-fs-input-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
    background: var(--morsels-fs-header-bg);
    border-bottom: var(--morsels-fs-header-border-bottom);
    z-index: 1000;
}

.morsels-fs-input {
    flex: 1 0 0;
    width: 0;
    padding: 0.2em 0.8em;
    outline: none;
    color: var(--morsels-fs-input-fg);
    background: var(--morsels-fs-input-bg);
    border: var(--morsels-fs-input-border);
    border-radius: 30px;
    font-size: inherit;
}

.morsels-fs-input:focus {
    border: var(--morsels-fs-input-focus-border);
    box-shadow: var(--morsels-fs-input-focus-box-shadow);
}

.morsels-input-close-fs {
    position: relative;
    border: none;
    padding: 0.25em 0.8em;
    border-radius: 1em;
    margin-left: 7px;
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
    color: var(--morsels-fs-header-close-fg);
    background: var(--morsels-fs-header-close-bg);
    transition: background 0.2s linear, color 0.2s linear;
}

@media (hover: hover) {
    .morsels-input-close-fs:hover {
        color: var(--morsels-fs-header-close-hover-fg);
        background: var(--morsels-fs-header-close-hover-bg);
    }
}

.morsels-input-close-fs:focus {
    color: var(--morsels-fs-header-close-hover-fg);
    background: var(--morsels-fs-header-close-hover-bg);
}

.morsels-input-close-fs:active {
    color: var(--morsels-fs-header-close-active-fg);
    background: var(--morsels-fs-header-close-active-bg);
}

.morsels-tip-root {
    position: fixed;
    bottom: 19px;
    right: 19px;
    width: var(--morsels-tip-icon-size);
    height: var(--morsels-tip-icon-size);
    z-index: 1;
}

.morsels-tip-icon {
    cursor: default;
    display: inline-block;
    line-height: var(--morsels-tip-icon-size);
    width: 100%;
    height: 100%;
    border-width: 0;
    border-radius: 50%;
    color: var(--morsels-tip-icon-fg);
    background: var(--morsels-tip-icon-bg);
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.morsels-tip-icon:hover {
    opacity: 1;
}

.morsels-tip-popup-root {
    position: absolute;
    transform: scale(0);
    transition: transform 0.25s ease-in-out, top 0.25s ease-in-out, left 0.25s ease-in-out;
}

.morsels-tip-popup-root.shown {
    transform: scale(1);
    display: block;
}

.morsels-tip-popup {
    padding: 14px;
    font-size: 14px;
    box-shadow: var(--morsels-box-shadow);
    width: 300px;
    background: var(--morsels-tip-bg);
}

.morsels-tip-popup-title {
    color: var(--morsels-tip-fg);
    font-weight: bold;
}

table.morsels-tip-table {
    font-size: 14px;
    margin: 7px 0 0 20px;
    width: auto;
}

/* Reset styles */
table.morsels-tip-table,
table.morsels-tip-table thead,
table.morsels-tip-table tbody,
table.morsels-tip-table tr {
    background: none;
    border: none;
}

table.morsels-tip-table th,
table.morsels-tip-table td {
    background: none;
    border: none;
    text-align: left;
    vertical-align: text-top;
    box-shadow: none;
    color: var(--morsels-tip-fg);
}

table.morsels-tip-table th {
    border-bottom: 3px solid;
    border-bottom-color: var(--morsels-tip-table-border) !important;
    font-weight: bold;
}

table.morsels-tip-table td {
    border-bottom: 1px solid;
    border-bottom-color: var(--morsels-tip-table-border) !important;
}

table.morsels-tip-table > tbody > tr:last-child > td {
    border: none;
}

table.morsels-tip-table td:first-child,
table.morsels-tip-table th:first-child {
    width: 45%;
    padding: 3px 5px 5px 0;
}

table.morsels-tip-table td:last-child,
table.morsels-tip-table th:last-child {
    width: 55%;
    padding: 3px 0 5px 7px;
}

table.morsels-tip-table th:first-child,
table.morsels-tip-table th:last-child {
    padding-bottom: 3px;
}

table.morsels-tip-table .morsels-tip-item > td > div {
    padding: 0;
    margin: 0;
    line-height: 1.4;
}

table.morsels-tip-table .morsels-tip-item > td span {
    font-size: 0.95em;
}

table.morsels-tip-table .morsels-tip-item code {
    font-size: 0.9em;
    color: var(--morsels-tip-code-fg);
    background: var(--morsels-tip-code-bg);
    word-wrap: break-word;
}

table.morsels-tip-table .morsels-tip-item ul {
    padding: 0;
    margin: 0;
}

table.morsels-tip-table .morsels-tip-item li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.morsels-tip-popup-separator {
    height: 10px;
}

.morsels-fs-blank {
    text-align: center;
    font-size: 0.9em;
    color: var(--morsels-fine-print-fg);
    padding: 1em;
}

@media screen and (min-width: 1025px) {
    .morsels-fs-root {
        border-radius: 10px;
        border: var(--morsels-fs-border);
        box-shadow: var(--morsels-fs-box-shadow);
        top: 15%;
        left: calc(50% - (var(--morsels-fs-desktop-width) / 2));
        width: var(--morsels-fs-desktop-width);
        height: var(--morsels-fs-desktop-height);
    }

    .morsels-tip-root {
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}

/*
 Dropdown version
 */

.morsels-input-dropdown-separator {
    position: relative;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--morsels-triangle-bg);
}

/*
 Both versions
 */

.morsels-inner-root {
    position: absolute;
    top: 0;
    left: 100vw;
}

.morsels-list {
    padding: 0;
    border: var(--morsels-border);
    border-radius: 5px;
    box-shadow: var(--morsels-box-shadow);
    margin: 0;
    width: 100vw;
    max-width: var(--morsels-dropdown-max-width);
    overflow-y: auto;
    list-style: none;
    background-color: var(--morsels-bg);
    font-size: inherit;
    z-index: 1000;
    scrollbar-color: var(--morsels-scrollbar-thumb-bg) var(--morsels-scrollbar-bg);
    scrollbar-width: thin;
}

.morsels-fs-root .morsels-list {
    width: auto;
    max-height: calc(100% - 20px - 2.7em);
    max-width: none;
    border: none;
    box-shadow: none;
    padding: 0 0.5em 0.5em 0.5em;
    background-color: transparent;
    position: static;
}

@media screen and (max-width: 1025px) {
    .morsels-fs-root .morsels-list {
        /* Generous amount of bottom padding for device navigation bar. The alternative is dynamic style detection. */
        padding-bottom: 100px;
    }
}

.morsels-fs-root::-webkit-scrollbar-track,
.morsels-list::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--morsels-scrollbar-bg);
}

.morsels-list::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.morsels-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--morsels-scrollbar-thumb-bg);
}

.morsels-error {
    text-align: center;
    color: var(--morsels-error-fg);
    padding: 1em;
}

.morsels-no-results {
    text-align: center;
    font-size: 0.9em;
    color: var(--morsels-fine-print-fg);
    padding: 1em;
}

.morsels-list-item {
    font-size: inherit;
    border: var(--morsels-item-border);
    border-radius: var(--morsels-item-border-radius);
    box-shadow: var(--morsels-item-box-shadow);
    margin: var(--morsels-item-spacing) 13px;
    overflow: hidden;
}

.morsels-fs-root .morsels-list-item {
    margin: var(--morsels-fs-item-spacing) 6px 0 8px;
}

.morsels-link,
.morsels-heading-body {
    font-size: inherit;
    text-decoration: none !important;
}

.morsels-title {
    border-bottom: 2px solid var(--morsels-title-border-bottom, var(--morsels-title-bg));
    color: var(--morsels-title-fg);
    line-height: 1.4em;
    word-break: break-word;
    padding: 7px 7px 3px;
    background: var(--morsels-title-bg);
    font-size: 1.0em;
    font-weight: 500;
}

@media (hover: hover) {
    .morsels-list-item:hover .morsels-title {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
        color: var(--morsels-title-hover-fg);
        background: var(--morsels-title-hover-bg);
        border-bottom: 2px solid var(--morsels-title-hover-bg);
    }
}

.morsels-title:active {
    transition: background 0.2s ease-in, color 0.2s ease-in, border-bottom 0.2s ease-in;
}

.morsels-title:active,
.morsels-list-item.focus .morsels-title {
    color: var(--morsels-title-hover-fg);
    background: var(--morsels-title-hover-bg);
    border-bottom: 2px solid var(--morsels-title-hover-bg);
}

.morsels-heading-body {
    display: flex;
    align-items: stretch;
    text-decoration: none;
}

.morsels-heading {
    width: 28%;
    max-width: 160px;
    font-size: 0.91em;
    word-break: break-word;
    padding: 5px 5px 4px 8px;
    display: inline-block;
    line-height: 1.3em;
    vertical-align: top;
    background: var(--morsels-heading-bg);
    color: var(--morsels-heading-fg);
}

@media (hover: hover) {
    .morsels-heading-body:hover .morsels-heading {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
        color: var(--morsels-heading-hover-fg);
        background: var(--morsels-heading-hover-bg);
    }
}

.morsels-heading-body:active .morsels-heading {
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.morsels-heading-body:active .morsels-heading,
.morsels-list-item.focus .morsels-heading-body .morsels-heading {
    color: var(--morsels-heading-hover-fg);
    background: var(--morsels-heading-hover-bg);
}

.morsels-bodies {
    flex: 1 0 70%;
}

.morsels-body {
    height: 100%;
    font-size: 0.91em;
    line-height: 1.15em;
    word-break: break-word;
    grid-column-start: 2;
    padding: 6px 5px 4px 8px;
    color: var(--morsels-body-fg);
    background: var(--morsels-body-bg);
}

@media (hover: hover) {
    .morsels-body:hover,
    .morsels-heading-body:hover .morsels-body {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
        color: var(--morsels-body-hover-fg);
        background-color: var(--morsels-body-hover-bg);
    }
}

.morsels-body:active,
.morsels-heading-body:active .morsels-body {
    transition: background 0.2s ease-in, color 0.2s ease-in, border-bottom 0.2s ease-in-out;
}

.morsels-body:active,
.morsels-heading-body:active .morsels-body,
.morsels-list-item.focus .morsels-body {
    color: var(--morsels-body-hover-fg);
    background-color: var(--morsels-body-hover-bg);
}

.morsels-heading-body:not(:last-child) .morsels-body {
    border-bottom: 2px solid var(--morsels-item-sub-border, var(--morsels-heading-bg));
}

@media (hover: hover) {
    .morsels-heading-body:hover:not(:last-child) .morsels-body {
        border-bottom: 2px solid var(--morsels-body-hover-bg);
    }
}

.morsels-heading-body:active .morsels-heading,
.morsels-list-item.focus .morsels-heading-body:not(:last-child) .morsels-body {
    border-bottom: 2px solid var(--morsels-body-hover-bg);
}

.morsels-highlight {
    color: var(--morsels-highlight);
    background-color: var(--morsels-highlight-bg);
    font-weight: bold;
}

.morsels-ellipsis {
    letter-spacing: 0.2mm;
    opacity: 0.75;
}

.morsels-initialising-text {
    padding-top: 20px;
    text-align: center;
    animation-name: morsels-initialising-text;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes morsels-initialising-text {
    50% {
        transform: translateY(-3px);
    }
}

/* https://loading.io/css/ */
.morsels-loading-indicator {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.morsels-loading-indicator:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--morsels-loading-bg) transparent var(--morsels-loading-bg) transparent;
    animation: morsels-loading-indicator 1.2s linear infinite;
}

@keyframes morsels-loading-indicator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.morsels-loading-indicator-subsequent {
    position: sticky;
    top: 10px;
    padding-left: calc(100% - 40px);
    margin: 0;
    height: 0;
    overflow: visible;
}

.morsels-loading-indicator-subsequent::after {
    width: 25px;
    height: 25px;
    border-width: 4px;
    border-color: var(--morsels-loading-secondary-bg) transparent var(--morsels-loading-secondary-bg) transparent;
    animation: morsels-loading-indicator 1.2s linear infinite, morsels-loading-indicator-subsequent 1s linear 1;
}

@keyframes morsels-loading-indicator-subsequent {
    0% {
        opacity: 0.0;
    }
    15% {
        opacity: 0.0;
    }
    100% {
        opacity: 0.8;
    }
}
