@import url('./base.css');
@import url('./light-base.css');

:root {
    --morsels-item-spacing: 14px;

    --morsels-item-border-radius: 0;
    --morsels-item-box-shadow: none;
    --morsels-title-bg: none;
    --morsels-title-border-bottom: 1px solid #b1b2b1;
    --morsels-title-border-bottom-hover: 1px solid #b1b2b1;
    --morsels-heading-bg: none;
    --morsels-body-bg: none;
    --morsels-item-sub-border: none;
    --morsels-item-sub-border-hover: none;

    --morsels-fs-header-bg: #fbfbfb;
    --morsels-fs-header-close-bg: #fbfbfb;
    --morsels-fs-header-border-bottom: 1px solid rgb(245, 245, 245);
    --morsels-fs-input-focus-box-shadow: 0 0 3px -2px rgb(99, 186, 255);
}

.morsels-fs-root .morsels-list-item {
    margin: 14px 4px 0 5px;
}

.morsels-header + .morsels-list-item {
    margin-top: 0;
}

@media screen and (min-width: 1025px) {
    .morsels-fs-root {
        border-radius: 5px;
    }
}

.morsels-title {
    font-weight: 600;
    padding: 5px 7px 2px;
}

.morsels-heading {
    border-right: 1px solid #bbbcbb;
}

.morsels-input-close-fs {
    font-weight: normal;
}
