@import url('./base.css');
@import url('./light-base.css');

:root {
    --infi-item-border-radius: 2px;
    --infi-item-box-shadow: none;
    --infi-title-border-bottom: 1px solid #e5e5e5;
    --infi-title-border-bottom-hover: 1px solid #bce0fe;
    --infi-heading-fg: #505050;
    --infi-body-fg: #505050;
}

.morsels-list-item {
    margin: 10px 13px;
}

.morsels-fs-root .morsels-list-item {
    margin: 12px 3px;
}

@media screen and (max-width: 768px) {
    .morsels-fs-root .morsels-list-item {
        margin: 14px 3px;
    }
}

.morsels-list-item:first-child {
    margin-top: 1px;
}

.morsels-heading-link:last-child {
    padding-bottom: 5px;
}

.morsels-title {
    padding: 5px 8px 2px;
}

.morsels-heading {
    padding-left: 9px;
}

.morsels-body {
    padding-left: 9px;
}

.morsels-heading-link .morsels-body {
    padding-left: 14px;
}
