@import url('./base.css');
@import url('./light-base.css');

:root {
    --morsels-item-border-radius: 2px;
    --morsels-item-box-shadow: none;
    --morsels-title-border-bottom: 1px solid #e5e5e5;
    --morsels-title-border-bottom-hover: 1px solid #bce0fe;
    --morsels-heading-fg: #505050;
    --morsels-body-fg: #505050;
}

.morsels-list-item {
    margin: 14px 9px 0 13px;
}

.morsels-fs-root .morsels-list-item {
    margin: 14px 0 0 3px;
}

@media screen and (max-width: 768px) {
    .morsels-fs-root .morsels-list-item {
        margin: 15px 1px 0 4px;
    }
}

.morsels-header + .morsels-list-item {
    margin-top: 0;
}

.morsels-title {
    padding: 5px 8px 2px;
}

.morsels-heading {
    padding-left: 9px;
}

.morsels-body {
    padding-left: 9px;
}

.morsels-heading-body .morsels-body {
    padding-left: 14px;
}
