@import url('./base.css');

:root {
    --morsels-box-shadow: 0 0 3px 0 #323232;
    --morsels-bg: #212121;
    --morsels-triangle-bg: #212121;
    --morsels-item-border: none;
    --morsels-item-border-radius: 4px;
    --morsels-item-box-shadow: 0 1px 3px -2px #434546, -2px 1px 3px -2px #434546, 2px 1px 3px -2px #434546;
    --morsels-title-fg: #e3e3e3;
    --morsels-title-bg: #313233;
    --morsels-title-hover-fg: #eef6f6;
    --morsels-title-hover-bg: #525354;
    --morsels-title-border-bottom: 2px solid #333435;
    --morsels-heading-fg: #e3e3e3;
    --morsels-heading-bg: #292b2c;
    --morsels-heading-hover-fg: #eef6f6;
    --morsels-heading-hover-bg: #525354;
    --morsels-body-fg: #e3e3e3;
    --morsels-body-bg: #252728;
    --morsels-body-hover-fg: #eef6f6;
    --morsels-body-hover-bg: var(--morsels-title-bg);
    --morsels-highlight: #5B9EBF;
    --morsels-highlight-bg: none;
    --morsels-header-fg: #e3e3e3;
    --morsels-error-fg: #e3e3e3;
    --morsels-fine-print-fg: #d5e2e1;
    --morsels-loading-bg: #03699c;
    --morsels-loading-secondary-bg: #1071a1;
    --morsels-scrollbar-bg: #212121;
    --morsels-scrollbar-thumb-bg: var(--morsels-title-bg);
    /* 
     Below 3 values from https://bootswatch.com/darkly/'s primary-themed button.
    */
    --morsels-fs-button-input-fg: #fff;
    --morsels-fs-button-input-bg: #375a7f;
    --morsels-fs-button-input-shadow: 0 0 0 3px rgb(85 115 146 / 50%);
    --morsels-fs-border: 3px solid #2f3030;
    --morsels-fs-box-shadow: none;
    --morsels-fs-header-bg: #292a2b;
    --morsels-fs-header-border-bottom: 2px solid #2f3030;
    --morsels-fs-input-fg: #e3e3e3;
    --morsels-fs-input-bg: #212121;
    --morsels-fs-input-border: 2px solid #2f3030;
    --morsels-fs-input-focus-border: 2px solid #03699c;
    --morsels-fs-input-focus-box-shadow: none;
    --morsels-fs-header-close-bg: #292a2b;
    --morsels-fs-header-close-fg: #e3e3e3;
    --morsels-fs-header-close-hover-bg: #363839;
    --morsels-fs-header-close-hover-fg: #f1f8f7;
    --morsels-fs-header-close-active-bg: #3b3d3e;
    --morsels-fs-header-close-active-fg: white;
    --morsels-tip-bg: #292a2b;
    --morsels-tip-fg: #e3e3e3;
    --morsels-tip-table-border: transparent;
    --morsels-tip-table-header-border: #4a4c4d;
    --morsels-tip-table-alternate: #323334;
    --morsels-tip-code-fg: #5B9EBF;
    --morsels-tip-code-bg: transparent;
    --morsels-tip-icon-bg: #363839;
    --morsels-tip-icon-fg: #e3e3e3;
}

.morsels-fs-input::placeholder {
    color: #b6c1c0;
}
