@import url('./base.css');
@import url('./light-base.css');

:root {
    --infi-item-border-radius: 8px;
    --infi-item-box-shadow: 0 0 8px #ebebeb;
    --infi-title-border-bottom: none;
    --infi-title-border-bottom-hover: none;
    --infi-heading-fg: #565656;
    --infi-body-fg: #5f5f5f;

    --infi-title-border-bottom-padded: 1px solid #eee;
}

.infi-title::after {
    content: '';
    display: block;
    border-bottom: var(--infi-title-border-bottom-padded);
    transform: translateY(5px);
}

.infi-title:active::after,
.infi-title-link.focus .infi-title::after {
    border-bottom: 1px solid var(--infi-title-hover-bg);
}

.infi-title:active::after {
    transition: background 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in !important;
}

@media (hover: hover) {
    .infi-list-item:hover .infi-title::after {
        border-bottom: 1px solid #bce0fe;
        transition: background 0.1s ease-in, color 0.1s ease-in, border 0.1s ease-in;
    }
}
