@import url('./base.css');
@import url('./light-base.css');

:root {
    --morsels-item-border-radius: 6px;
    --morsels-item-box-shadow: 0 1px 3px rgb(239, 239, 239), -2px 1px 3px rgb(239, 239, 239), 2px 1px 3px rgb(239, 239, 239);
    --morsels-title-bg: rgb(247, 246, 246);
    --morsels-heading-bg: rgb(250, 249, 249);
    --morsels-body-bg: white;

    --morsels-fs-header-bg: rgb(247, 246, 246);
    --morsels-fs-header-close-bg: rgb(247, 246, 246);
}
