:root {
    --morsels-shadow: 0 0 5px #dcdcdc;
    --morsels-bg: white;
    --morsels-title-fg: #424242;
    --morsels-title-bg: #fff;
    --morsels-title-hover-fg: #444;
    --morsels-title-hover-bg: #bce0fe;
    --morsels-heading-hover-fg: #444;
    --morsels-body-hover-fg: #565656;
    --morsels-sub-bg: #fff;
    --morsels-sub-hover-bg: #bce0fe;
    --morsels-highlight: #1e94f4;
    --morsels-highlight-bg: none;
    --morsels-header-fg: #3a3a3a;
    --morsels-error-fg: #444;
    --morsels-fine-print-fg: #575757;
    --morsels-loading-bg: rgba(99, 186, 255, 0.4);
    --morsels-loading-secondary-bg: rgba(99, 186, 255, 0.7);
    --morsels-scrollbar-bg: #fff;
    --morsels-scrollbar-thumb-bg: #d9d9d9;
    /* 
     Below 3 values from https://bootswatch.com/darkly/'s info-themed button.
    */
    --morsels-fs-button-input-fg: #fff;
    --morsels-fs-button-input-bg: #3498db;
    --morsels-fs-button-input-shadow: 0 0 0 3px rgb(82 167 224 / 40%);
    --morsels-fs-border: none;
    --morsels-fs-box-shadow: 0 1px 5px #9c9c9c;
    --morsels-fs-input-fg: #000;
    --morsels-fs-input-bg: #fdfdfd;
    --morsels-fs-input-border: 2px solid #e5e5e5;
    --morsels-fs-input-focus-border: 2px solid #d4d4d4;
    --morsels-fs-input-focus-box-shadow: 0 0 11px -7px #c0c0c0;
    --morsels-fs-header-bg: #fdfdfd;
    --morsels-fs-header-box-shadow: 0 0 5px 3px #f0f0f0;
    --morsels-fs-header-close-fg: #707070;
    --morsels-fs-header-close-hover-bg: #7d7d7d;
    --morsels-fs-header-close-hover-fg: #fff;
    --morsels-fs-header-close-active-bg: #666666;
    --morsels-fs-header-close-active-fg: #fff;
    --morsels-tip-bg: #fff;
    --morsels-tip-fg: #444;
    --morsels-tip-table-header-border: hsl(0, 0%, 93%);
    /* Following 2 colours from mdbook's light theme */
    --morsels-tip-table-border: hsl(0, 0%, 95%);
    --morsels-tip-table-alternate: hsl(0, 0%, 97%);
    --morsels-tip-code-fg: #1876c3;
    --morsels-tip-code-bg: transparent;
    --morsels-tip-icon-bg: #e6e6e6;
    --morsels-tip-icon-fg: #464646;
}

.morsels-fs-input-clear::after {
    background-image: url("data:image/svg+xml;utf8,<svg fill=\"%23cacaca\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 320 512\"><path d=\"M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z\"/></svg>");
}

@media (hover: hover) {
    .morsels-fs-input-clear:hover::after {
        filter: brightness(0.5);
    }
}
