.morsels-root {
    --morsels-dropdown-max-width: 512px;
    --morsels-dropdown-max-height: 30em;
    --morsels-font-size: 14px;
    --morsels-border: none;
    --morsels-box-shadow: 0 1px 5px rgba(196, 192, 187, 0.8);
    --morsels-fg: black;
    --morsels-bg: white;
    --morsels-dropdown-input-separator-bg: white;
    --morsels-item-border: none;
    --morsels-item-border-radius: 8px;
    --morsels-item-box-shadow: 0 1px 3px rgba(196, 192, 187, 0.5);
    --morsels-item-sub-border: none;
    --morsels-title-fg: rgb(20, 20, 20);
    --morsels-title-bg: hsl(35, 100%, 92%);
    --morsels-title-hover-fg: rgb(10, 10, 10);
    --morsels-title-hover-bg: hsl(35, 100%, 88%);
    --morsels-heading-fg: var(--morsels-fg);
    --morsels-heading-bg: hsl(35, 50%, 99%);
    --morsels-heading-hover-fg: var(--morsels-fg);
    --morsels-heading-hover-bg: var(--morsels-title-bg);
    --morsels-body-fg: var(--morsels-fg);
    --morsels-body-bg: var(--morsels-bg);
    --morsels-body-hover-fg: var(--morsels-fg);
    --morsels-body-hover-bg: hsl(35, 95%, 97%);
    --morsels-highlight: #ef9001;
    --morsels-error-fg: black;
    --morsels-fine-print-fg: rgba(0, 0, 0, 0.6);
    --morsels-loading-bg: #fed;
    --morsels-loading-secondary-bg: #ef9001;
    --morsels-scrollbar-bg: rgba(213, 177, 137, 0.15);
    --morsels-scrollbar-thumb-bg: rgba(213, 177, 137, 0.5);
    --morsels-fullscreen-border: 3px solid var(--morsels-fullscreen-header-bg);
    --morsels-fullscreen-box-shadow: 0 0 10px 3px rgb(218, 214, 208);
    --morsels-fullscreen-desktop-width: 650px;
    --morsels-fullscreen-desktop-height: 70%;
    --morsels-fullscreen-header-bg: rgb(255, 255, 255);
    --morsels-fullscreen-header-border-bottom: 1px solid rgba(190, 190, 190, 0.3);
    --morsels-fullscreen-input-border: 2px solid rgba(253, 202, 144, 0.37);
    --morsels-fullscreen-input-focus-border: 2px solid rgba(255, 169, 66, 0.8);
    --morsels-fullscreen-input-focus-box-shadow: 0 0 5px rgba(255, 169, 66, 0.8);
    --morsels-fullscreen-header-close-bg: rgb(255, 255, 255);
    --morsels-fullscreen-header-close-fg: rgb(253, 202, 144);
    --morsels-fullscreen-header-close-hover-bg: rgba(246, 170, 73, 0.7);
    --morsels-fullscreen-header-close-hover-fg: rgb(255, 255, 255);
    --morsels-fullscreen-header-close-active-bg: rgba(246, 170, 73, 0.95);
    --morsels-fullscreen-header-close-active-fg: rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    font-size: var(--morsels-font-size);
}

@media screen and (max-width: 1025px) {
    .morsels-root {
        --morsels-dropdown-max-width: 100vw;
        --morsels-dropdown-max-height: 75vh;
    }
}

.morsels-root * {
    box-sizing: border-box;
}

/*
 Fullscreen version
 */

.morsels-fs-backdrop {
    --morsels-fullscreen-backdrop-bg: rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--morsels-fullscreen-backdrop-bg);
    z-index: 1000;
}

.morsels-fs-root {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--morsels-bg);
    overflow: hidden;
    z-index: 1000;
}

.morsels-fs-input-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2em;
    background: var(--morsels-fullscreen-header-bg);
    border-bottom: var(--morsels-fullscreen-header-border-bottom);
    z-index: 1000;
}

.morsels-fs-input {
    flex: 1 0 0;
    width: 0;
    padding: 0.25em 0.8em;
    outline: none;
    border: var(--morsels-fullscreen-input-border);
    border-radius: 30px;
    font-size: inherit;
}

.morsels-fs-input:focus {
    border: var(--morsels-fullscreen-input-focus-border);
    box-shadow: var(--morsels-fullscreen-input-focus-box-shadow);
}

.morsels-input-close-fs {
    position: relative;
    border: none;
    padding: 0.25em 0.8em;
    border-radius: 1em;
    margin-left: 7px;
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
    color: var(--morsels-fullscreen-header-close-fg);
    background: var(--morsels-fullscreen-header-close-bg);
    transition: background 0.2s linear, color 0.2s linear;
}

@media (hover: hover) {
    .morsels-input-close-fs:hover {
        color: var(--morsels-fullscreen-header-close-hover-fg);
        background: var(--morsels-fullscreen-header-close-hover-bg);
    }
}

.morsels-input-close-fs:active {
    color: var(--morsels-fullscreen-header-close-active-fg);
    background: var(--morsels-fullscreen-header-close-active-bg);
}

.morsels-fs-blank {
    text-align: center;
    font-size: 0.9em;
    color: var(--morsels-fine-print-fg);
    padding: 1em;
}

@media screen and (min-width: 1025px) {
    .morsels-fs-root {
        border-radius: 10px;
        border: var(--morsels-fullscreen-border);
        box-shadow: var(--morsels-fullscreen-box-shadow);
        top: 15%;
        left: calc(50% - (var(--morsels-fullscreen-desktop-width) / 2));
        width: var(--morsels-fullscreen-desktop-width);
        height: var(--morsels-fullscreen-desktop-height);
    }
}

/*
 Dropdown version
 */

.morsels-input-dropdown-separator {
    position: relative;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--morsels-dropdown-input-separator-bg);
}

/*
 Both versions
 */

.morsels-inner-root {
    position: absolute;
    top: 0;
    left: 100vw;
}

.morsels-list {
    padding: 0;
    border: var(--morsels-border);
    border-radius: 5px;
    box-shadow: var(--morsels-box-shadow);
    margin: 0;
    width: 100vw;
    max-width: var(--morsels-dropdown-max-width);
    overflow-y: auto;
    list-style: none;
    background-color: var(--morsels-bg);
    font-size: inherit;
    z-index: 1000;
    scrollbar-color: var(--morsels-scrollbar-thumb-bg) var(--morsels-scrollbar-bg);
    scrollbar-width: thin;
}

.morsels-fs-root .morsels-list {
    width: auto;
    max-height: calc(100% - 20px - 2.7em);
    max-width: none;
    border: none;
    box-shadow: none;
    padding: 0 0.5em 0.5em 0.5em;
    background-color: transparent;
    position: static;
}

@media screen and (max-width: 1025px) {
    .morsels-fs-root .morsels-list {
        /* Generous amount of bottom padding for device navigation bar. The alternative is dynamic style detection. */
        padding-bottom: 100px;
    }
}

.morsels-fs-root::-webkit-scrollbar-track,
.morsels-list::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--morsels-scrollbar-bg);
}

.morsels-list::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.morsels-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--morsels-scrollbar-thumb-bg);
}

.morsels-error {
    text-align: center;
    color: var(--morsels-error-fg);
    padding: 1em;
}

.morsels-no-results {
    text-align: center;
    font-size: 0.9em;
    color: var(--morsels-fine-print-fg);
    padding: 1em;
}

.morsels-list-item {
    font-size: inherit;
    border: var(--morsels-item-border);
    border-radius: var(--morsels-item-border-radius);
    box-shadow: var(--morsels-item-box-shadow);
    margin: 18px 5px;
    overflow: hidden;
}

@media screen and (min-width: 1025px) {
    .morsels-list-item {
        margin: 18px 12px;
    }

    .morsels-list-item:first-child {
        margin-top: 15px;
    }
}

.morsels-link,
.morsels-heading-body {
    font-size: inherit;
    text-decoration: none !important;
}

.morsels-title {
    color: var(--morsels-title-fg);
    line-height: 1.4em;
    word-break: break-word;
    padding: 3px 50px 2px 7px;
    background: var(--morsels-title-bg);
    font-size: 1.03em;
    font-weight: 600;
}

@media (hover: hover) {
    .morsels-list-item:hover .morsels-title {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
        color: var(--morsels-title-hover-fg);
        background: var(--morsels-title-hover-bg);
    }
}

.morsels-title:active {
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.morsels-title:active,
.morsels-list-item.focus .morsels-title {
    color: var(--morsels-title-hover-fg);
    background: var(--morsels-title-hover-bg);
}

.morsels-heading-body {
    display: flex;
    text-decoration: none;
    border-top: var(--morsels-item-sub-border);
}

.morsels-heading {
    width: 25%;
    font-size: 1em;
    word-break: break-word;
    padding: 3px 3px 4px 7px;
    display: inline-block;
    line-height: 1.3em;
    vertical-align: top;
    background: var(--morsels-heading-bg);
    color: var(--morsels-heading-fg);
}

@media (hover: hover) {
    .morsels-heading-body:hover .morsels-heading {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
        color: var(--morsels-heading-hover-fg);
        background: var(--morsels-heading-hover-bg);
    }
}

.morsels-heading-body:active .morsels-heading {
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.morsels-heading-body:active .morsels-heading,
.morsels-list-item.focus .morsels-heading-body .morsels-heading {
    color: var(--morsels-heading-hover-fg);
    background: var(--morsels-heading-hover-bg);
}

.morsels-bodies {
    flex: 1 0 70%;
}

.morsels-body {
    height: 100%;
    font-size: 0.93em;
    line-height: 1.2em;
    word-break: break-word;
    grid-column-start: 2;
    padding: 4px 5px 4px 7px;
    color: var(--morsels-body-fg);
    background: var(--morsels-body-bg);
}

@media (hover: hover) {
    .morsels-body:hover,
    .morsels-heading-body:hover .morsels-body {
        transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
        color: var(--morsels-body-hover-fg);
        background-color: var(--morsels-body-hover-bg);
    }
}

.morsels-body:active,
.morsels-heading-body:active .morsels-body {
    transition: background 0.2s ease-in, color 0.2s ease-in;
}

.morsels-body:active,
.morsels-heading-body:active .morsels-body,
.morsels-list-item.focus .morsels-body {
    color: var(--morsels-body-hover-fg);
    background-color: var(--morsels-body-hover-bg);
}

.morsels-highlight {
    background-color: var(--morsels-highlight);
    font-weight: bold;
}

.morsels-ellipsis {
    font-weight: 500;
    opacity: 0.75;
}

.morsels-initialising-text {
    padding-top: 20px;
    text-align: center;
    animation-name: morsels-initialising-text;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes morsels-initialising-text {
    50% {
        transform: translateY(-3px);
    }
}

/* https://loading.io/css/ */
.morsels-loading-indicator {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.morsels-loading-indicator:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--morsels-loading-bg) transparent var(--morsels-loading-bg) transparent;
    animation: morsels-loading-indicator 1.2s linear infinite;
}

@keyframes morsels-loading-indicator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.morsels-loading-indicator-subsequent {
    position: sticky;
    top: 10px;
    padding-left: calc(100% - 40px);
    margin: 0;
    height: 0;
    overflow: visible;
}

.morsels-loading-indicator-subsequent::after {
    width: 25px;
    height: 25px;
    border-width: 4px;
    border-color: var(--morsels-loading-secondary-bg) transparent var(--morsels-loading-secondary-bg) transparent;
    animation: morsels-loading-indicator 1.2s linear infinite, morsels-loading-indicator-subsequent 1s linear 1;
}

@keyframes morsels-loading-indicator-subsequent {
    0% {
        opacity: 0.0;
    }
    15% {
        opacity: 0.0;
    }
    100% {
        opacity: 0.8;
    }
}
