.morsels-root {
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    --morsels-dropdown-width: 512px;
    --morsels-dropdown-max-height: 30em;
    --morsels-border: 3px solid rgb(243, 243, 243);
    --morsels-bg: white;
    --morsels-dropdown-input-separator-bg: white;
    --morsels-item-border: 1px solid rgba(67, 67, 67, 0.3);
    --morsels-title-fg: black;
    --morsels-title-bg: rgba(245, 169, 86, 0.33);
    --morsels-title-hover-fg: black;
    --morsels-title-hover-bg: rgba(213, 177, 137, 0.5);
    --morsels-heading-fg: #3d3f42;
    --morsels-heading-hover-fg: #3d3f42;
    --morsels-heading-bg: rgba(255, 204, 147, 0.2);
    --morsels-heading-hover-bg: rgb(255, 226, 201);
    --morsels-body-fg: #4d5156;
    --morsels-body-hover-fg: #4d5156;
    --morsels-body-bg: rgba(255, 255, 255, 0.3);
    --morsels-body-hover-bg: rgba(255, 234, 217, 0.8);
    --morsels-highlight: #ef9001;
    --morsels-fine-print-fg: rgba(0, 0, 0, 0.6);
    --morsels-loading-bg: #fed;
    --morsels-scrollbar-bg: rgba(213, 177, 137, 0.15);
    --morsels-scrollbar-thumb-bg: rgba(213, 177, 137, 0.5);
    --morsels-fullscreen-desktop-width: 700px;
    --morsels-fullscreen-desktop-height: 70%;
    --morsels-fullscreen-backdrop-bg: rgba(0, 0, 0, 0.2);
    --morsels-fullscreen-header-bg: rgb(245, 200, 155);
    --morsels-fullscreen-input-border: 2px solid rgba(253, 202, 144, 0.37);
    --morsels-fullscreen-input-focus-border: 2px solid rgba(255, 169, 66, 0.8);
    --morsels-fullscreen-input-focus-box-shadow: 0 0 5px rgba(255, 169, 66, 0.8);
    --morsels-fullscreen-header-close-bg: rgba(255, 210, 144, 0.8);
    --morsels-fullscreen-header-close-fg: rgba(246, 170, 73, 0.8);
    --morsels-fullscreen-header-close-hover-bg: rgba(248, 168, 65, 0.5);
    --morsels-fullscreen-header-close-hover-fg: rgb(252, 224, 197);
    --morsels-fullscreen-header-close-active-bg: rgba(246, 170, 73, 0.9);
    --morsels-fullscreen-header-close-active-fg: rgb(255, 241, 226);
}

.morsels-root * {
    box-sizing: border-box;
}

/*
 Fullscreen version
 */

.morsels-portal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--morsels-fullscreen-backdrop-bg);
    z-index: 1000;
}

.morsels-portal-root {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--morsels-bg);
    z-index: 1000;
    overflow-y: hidden;
}

.morsels-portal-input-button-wrapper {
    display: flex;
    align-items: center;
    padding: 0.5em 0.33em;
    font-size: 24px;
    background: var(--morsels-fullscreen-header-bg);
    z-index: 1000;
}

.morsels-portal-input {
    display: inline-block;
    padding: 0.2em 0.8em;
    outline: none;
    width: calc(100% - 80px);
    border: var(--morsels-fullscreen-input-border);
    border-radius: 30px;
    font-size: inherit;
}

.morsels-portal-input:focus {
    border: var(--morsels-fullscreen-input-focus-border);
    box-shadow: var(--morsels-fullscreen-input-focus-box-shadow);
}

.morsels-input-close-portal {
    position: relative;
    border: none;
    padding: 0;
    border-radius: 0.825em;
    width: 1.65em;
    height: 1.65em;
    margin-left: 20px;
    font-size: inherit;
    cursor: pointer;
    background: var(--morsels-fullscreen-header-close-bg);
    transition: 0.2s linear background;
}

.morsels-input-close-portal::before, .morsels-input-close-portal::after {
    content: ' ';
    position: absolute;
    top: 0.225em;
    left: 0.725em;
    border-radius: 8px;
    width: 0.18em;
    height: 1.25em;
    background: var(--morsels-fullscreen-header-close-fg);
    transition: 0.2s linear background;
}
.morsels-input-close-portal::before {
    transform: rotate(45deg);
}
.morsels-input-close-portal::after {
    transform: rotate(-45deg);
}

.morsels-input-close-portal:hover {
    background: var(--morsels-fullscreen-header-close-hover-bg);
}

.morsels-input-close-portal:hover::before,
.morsels-input-close-portal:hover::after {
    background: var(--morsels-fullscreen-header-close-hover-fg);
}

.morsels-input-close-portal:active {
    background: var(--morsels-fullscreen-header-close-active-bg);
}

.morsels-input-close-portal:active::before,
.morsels-input-close-portal:active::after {
    background: var(--morsels-fullscreen-header-close-active-fg);
}

.morsels-portal-blank {
    text-align: center;
    font-size: 0.9em;
    color: var(--morsels-fine-print-fg);
    padding: 1em;
}

@media screen and (min-width: 1025px) {
    .morsels-portal-root {
        border-radius: 10px;
        border: var(--morsels-border);
        top: 15%;
        left: calc(50% - (var(--morsels-fullscreen-desktop-width) / 2));
        width: var(--morsels-fullscreen-desktop-width);
        height: var(--morsels-fullscreen-desktop-height);
    }
}

/*
 Dropdown version
 */

.morsels-input-dropdown-separator {
    position: absolute;
    top: 100%;
    right: 16px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--morsels-dropdown-input-separator-bg);
}

/*
 Both versions
 */

.morsels-list {
    padding: 0;
    border: var(--morsels-border);
    border-radius: 8px;
    margin: 0;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: var(--morsels-dropdown-width);
    max-height: var(--morsels-dropdown-max-height);
    overflow-y: scroll;
    list-style: none;
    background-color: var(--morsels-bg);
    font-size: 16px;
}

.morsels-portal-root .morsels-list {
    width: auto;
    max-height: calc(100% - 5em);
    border: none;
    padding: 0 0.5em 1em 0.5em;
    background-color: transparent;
    position: static;
    font-size: 18px;
}

.morsels-portal-root::-webkit-scrollbar-track,
.morsels-list::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--morsels-scrollbar-bg);
}

.morsels-portal-root::-webkit-scrollbar,
.morsels-list::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.morsels-portal-root::-webkit-scrollbar-thumb,
.morsels-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--morsels-scrollbar-thumb-bg);
}

.morsels-no-results {
    text-align: center;
    color: var(--morsels-fine-print-fg);
    padding: 1em;
}

.morsels-list-item {
    border: var(--morsels-item-border);
    border-radius: 10px;
    margin: 18px 5px;
}

@media screen and (min-width: 1025px) {
    .morsels-portal-root .morsels-list-item {
        margin: 15px 10px;
    }
}

.morsels-link,
.morsels-heading-body {
    text-decoration: none !important;
}

.morsels-title {
    color: var(--morsels-title-fg);
    word-break: break-word;
    border-radius: 10px 10px 0 0;
    padding: 3px 3px 3px 5px;
    background: var(--morsels-title-bg);
    font-size: 1.1em;
    font-weight: 600;
    transition: background 0.1s ease-in-out;
}

.morsels-title:hover {
    color: var(--morsels-title-hover-fg);
    background: var(--morsels-title-hover-bg);
}

.morsels-heading-body {
    display: flex;
    text-decoration: none;
    border-top: 1px solid #949494;
    transition: background 0.1s ease-in-out;
}

.morsels-heading {
    width: 30%;
    word-break: break-word;
    padding: 0.2em;
    display: inline-block;
    vertical-align: top;
    background: var(--morsels-heading-bg);
    font-weight: 600;
    color: var(--morsels-heading-fg);
    transition: background 0.1s ease-in-out;
}

.morsels-heading-body:hover .morsels-heading {
    color: var(--morsels-heading-hover-fg);
    background: var(--morsels-heading-hover-bg);
}

.morsels-bodies {
    flex: 1 0 70%;
}

.morsels-body {
    height: 100%;
    word-break: break-word;
    grid-column-start: 2;
    padding: 0.3em;
    color: var(--morsels-body-fg);
    background: var(--morsels-body-bg);
    transition: background 0.1s ease-in-out;
}

.morsels-heading-body:hover .morsels-body {
    color: var(--morsels-body-hover-fg);
    background-color: var(--morsels-body-hover-bg);
}

.morsels-highlight {
    color: var(--morsels-highlight);
    border-radius: 3px;
    font-weight: bold;
}

.morsels-ellipsis::before {
    content: ' ... ';
    font-weight: 500;
    opacity: 0.75;
}

/* https://loading.io/css/ */
.morsels-loading-indicator {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.morsels-loading-indicator:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--morsels-loading-bg) transparent var(--morsels-loading-bg) transparent;
    animation: morsels-loading-indicator 1.2s linear infinite;
}

@keyframes morsels-loading-indicator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

