.morsels-input-wrapper {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.morsels-input-dropdown-separator {
    position: absolute;
    top: 100%;
    right: 16px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid white;
}

.morsels-dropdown {
    padding: 0;
    border: 1px solid rgba(67, 67, 67, 0.3);
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 100%;
    max-height: 30em;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;
    background-color: white;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .morsels-input-wrapper {
        width: 100%;
    }

    .morsels-dropdown {
        font-size: 36px;
        max-height: 800px;
    }
}

@media screen and (min-width: 1025px) {
    .morsels-dropdown {
        width: 512px;
    }
}

.morsels-dropdown::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(213, 177, 137, 0.15);
}

.morsels-dropdown::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.morsels-dropdown::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(213, 177, 137, 0.5);
}

.morsels-no-results {
    color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.morsels-suggestion-container-corrected,
.morsels-suggestion-container-expanded {
    display: flex;
    width: 100%;
    padding: 3px;
    background: linear-gradient(90deg, rgba(0,255,191,0.0896961340743504) 0%, rgba(255,255,255,1) 100%);
    color: #000000;
}

.morsels-suggestion-container-corrected {
    background: linear-gradient(90deg, rgba(255,0,0,0.0559882689058111) 0%, rgba(255,255,255,1) 100%);
}

.morsels-suggestion-content {
    flex: 1 0 0;
    padding: 5px;
    font-size: 1em;
}

.morsels-suggestion-buttons {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
}

.morsels-suggestion-button-dismiss,
.morsels-suggestion-button-dismiss-tip {
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-out;
    cursor: pointer;
    color: #ff4545;
}

.morsels-suggestion-button-dismiss:before {
    content: 'x';
    font-weight: 700;
    font-size: 1.2em;
}

.morsels-suggestion-button-dismiss:hover {
    color: #ff1414;
    transform: scale(1.5);
}

.morsels-suggestion-button-dismiss-tip {

}

.morsels-suggestion-content > hr {
    border: none;
    border-top: 1px solid rgba(175, 175, 175, 0.3);
}

.morsels-suggestion-content > small {
    font-size: 0.9em;
}

.morsels-suggestion-corrected,
.morsels-suggestion-expanded {
    padding-right: 4px;
    color: #000000;
    font-size: 1em;
}

.morsels-suggestion-wrong {
    color: red;
}

.morsels-suggestion-corrected {
    color: #13c215;
    text-decoration: underline;
}

.morsels-suggestion-expanded {
    color: #13c215;
    text-decoration: underline;
}

.morsels-dropdown-item {
    border: 1px solid rgba(67, 67, 67, 0.3);
    border-radius: 10px;
    margin: 7px 10px;
}

@media screen and (max-width: 1024px) {
    .morsels-dropdown-item {
        margin: 25px 15px;
    }
}

.morsels-link {
    color: black;
    text-decoration: none;
}

.morsels-title {
    word-break: break-word;
    border-radius: 10px 10px 0 0;
    padding: 3px 3px 3px 5px;
    background-color: rgba(245, 169, 86, 0.33);
    border-bottom: 1px solid #949494;
    font-size: 1.1em;
    font-weight: 600;
    transition: background-color 0.1s ease-in-out;
}

.morsels-title:hover {
    background-color: rgba(213, 177, 137, 0.5);
}

.morsels-heading-body {
    display: flex;
    grid-template-columns: 35% 65%;
    grid-row-gap: 2px;
    text-decoration: none;
}

.morsels-heading-body:not(:nth-child(2)) {
    border-top: 1px solid #949494;
    transition: background-color 0.1s ease-in-out;
}

.morsels-heading-body:hover {
    background-color: rgba(213, 177, 137, 0.2);
}

.morsels-heading {
    width: 30%;
    word-break: break-word;
    box-sizing: border-box;
    padding: 0.2em;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(243, 243, 243, 0.7);
    font-weight: 600;
    color: #3d3f42;
}

.morsels-bodies {
    flex: 1 0 70%;
}

.morsels-body {
    word-break: break-word;
    grid-column-start: 2;
    box-sizing: border-box;
    padding: 3px 3px 3px 2px;
    color: #4d5156;
    transition: background-color 0.1s ease-in-out;
}

.morsels-link > .morsels-body:hover {
    background-color: rgba(213, 177, 137, 0.1);
}

.morsels-highlight {
    color: #0679e2;
    border-radius: 3px;
    padding: 0.1rem 0.2rem;
    background-color: rgba(255, 255, 0, 0.49);
    font-weight: bold;
}

/* https://loading.io/css/ */
.morsels-loading-indicator {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}
.morsels-loading-indicator:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 50%;
    border: 6px solid #fed;
    border-color: #fed transparent #fed transparent;
    animation: morsels-loading-indicator 1.2s linear infinite;
}

@keyframes morsels-loading-indicator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .morsels-loading-indicator:after {
        width: 80px;
        height: 80px;
    }
}
