
#app {
    --fg: black;
    --bg: white;
    --bg-secondary: #212529;
    --input-bg: white;
    --input-border: 2px solid rgba(253, 202, 144, 0.37);
}

#app.dark {
    --fg: #e4f1f0;
    --bg: #27292a;
    --bg-secondary: #27292a;
    --input-bg: #171919;
    --input-border: 2px solid rgba(200,200,200,0.3);
}

body {
    margin: 0;
}

#app {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}

.app-navbar {
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: #3d3f42;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    z-index: 99;
}

.app-heading {
    margin-top: 240px;
    font-size: 40px;
    font-weight: bold;
    color: #3f3e3c;
    box-sizing: border-box;
}

.infi-search {
    padding: 0 1em;
    outline: none;
    width: 200px;
    height: 40px;
    border-width: 0;
    border-radius: 30px;
    font-size: 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .infi-search {
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .filler-text {
        width: 75%;
    }
}

#target-mode-el {
    width: 800px;
    max-width: 96vw;
}